

@media screen and (min-width: 925px) {
	main {
        font-size: 1.1rem ;
        margin-bottom: 30px ;
    }
}

@media screen and (max-width: 500px) {
	main {
        font-size:  1rem;
        margin-bottom: 50px;

    }
}
